<div class="fluid-container">
  <div class="row">

    <div class="col-sm-8">
      <div class="chart-wrapper">
        <div class="chart-title">
          Sample Chart Title 1
        </div>
        <div class="chart-stage">
          <div id="chart-01"></div>
        </div>
        <div class="chart-notes">
          This is a sample text region to describe this chart.
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Sample Chart Title 2
        </div>
        <div class="chart-stage">
          <div id="chart-02"></div>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>

  </div>


  <div class="row">

    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Sample Chart Title 3
        </div>
        <div class="chart-stage">
          <div id="chart-03"></div>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Sample Chart Title 4
        </div>
        <div class="chart-stage">
          <div id="chart-04"></div>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Sample Chart Title 5
        </div>
        <div class="chart-stage">
          <div id="chart-05"></div>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>

  </div>

  <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

</div>
